<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Capstone Model">
    <meta name="author" content="figuerol">


    <title>Andres' app</title>

    <!-- Bootstrap core CSS -->
    <link rel=stylesheet type=text/css href='{{ url_for('static', filename='app.css')}}'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class=page>
      <h1> Headline Stories</h1>
     <div class="cities">

       <h4> Enter a topic</h4>
       <form id='input' method='post' action='index'>
         <p>
            <input type='text' name='topic' />
           </p>


        <h2> OR </h2>

        <h4>Enter snippet</h4>

        <p>
           <input type='text' name='snippet' />
          </p>


         <input type="submit" value="Submit">
         </form>


    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
