<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
   {{resources | safe}}
</head>
<body>
   <div id="myplot"></div>
  <script>
    fetch('/plot')
      .then(function(response) { return response.json(); })
      .then(function(item) { Bokeh.embed.embed_item(item); })
    </script>

  <div>
    <!-- The plot embedded below is a standalone plot that was embedded using
    <fixed>autoload_static</fixed>. For more information see the
    <a target="_blank" href="https://docs.bokeh.org/en/latest/docs/user_guide/embed.html#autoload-scripts">
    documentation</a>. -->
  </div>
  <!-- {{ plot_div|safe }} -->
</body>
</html>
